@model int
<div class="text-center">
    <h1 class="text-info pt-4">Thank you for your order</h1>
    <h4 class="text-warning pn-3">Order ID - @Model</h4>
    <img src="/images/confirmation.png" width="60%" />
</div>